html{
    scroll-behavior: smooth;
}

body{
    background-color: gray;
    background: url("../img/background.jpg");
    background-size: cover;
}

.transparent-bg {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
    
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
}

main{
    width: 1500px;    
    box-sizing: border-box;
    margin: auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header-container{
    height: 60px;
    flex-shrink: 0;
    background-color: skyblue;
}

.main-view{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.feature-view{
    width: 400px;
    box-sizing: border-box;
    padding: 10px;
    flex-shrink: 0;
}

.feature-container{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
}

.menu-area{
    width: 100%;
    height: 60px;
    margin-bottom: 24px;

    flex-shrink: 0;

    color: #333;
    align-items: center;
    justify-content: end;
}

.menu-area h3{
    flex-grow: 1;
    font-size: 1.5em;    
}

.feature-area{
    padding: 10px;

    flex-grow: 3;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.feature-profile{
    width: 100%;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-profile::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile{
    position: absolute;
    margin: auto;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border: 10px solid rgba(255, 255, 255, 0.45);
    border-radius: 100%;

    background-image: url(../img/smile-5865208_640.png);
    background-size: cover;
    background-repeat: no-repeat;
}



.feature-message{
    width: 100%;
    height: 200px;
    flex-grow: 1;
    border-radius: 16px;
    
    background-color: white;

    overflow-y: auto;
}

.input-area{
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.input-area .menu-area{
    width: 100%;
    height: 50px;
}

.menu-area{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 40px;
}

.menu-icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    border: 4px solid #6666;
}

.menu-icon label{
    display: none;
}

.create-menu{
    background-image: url("../img/icon/create.png");
    
}

.edit-menu{
    background-image: url("../img/icon/editanddelete.png");
}

.close-button{
    background-image: url("../img/icon/close.png");

    background-size: cover;
    background-repeat: no-repeat;

    width: 32px;
    height: 32px;
}

.close-button label{
    display: none;
}

.input-form{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 8px;
}

textarea {
    border-radius: 6px;
    box-sizing: border-box;
    background: #ffffffad;
}

.input-form textarea{
    flex-grow: 4;
    flex-basis: 0;
}

.input-area button{
    background-color: rgba(103, 199, 255, 0.452);
    flex-grow: 1;
    flex-basis: 0;
    height: 45px;
}

.footer-container {
    height: 50px;
    background-color: bisque;
}

.contents-view{
    padding: 10px;    
    box-sizing: border-box;
    

    flex-grow: 1;
}

.contents-container{
    width: 100%;
    height: 100%;

    padding: 20px;
    box-sizing: border-box;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    border-radius: 16px;
}

.area{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 6px;
}

.widget-area{
    flex-grow: 1;
    flex-basis: 0;
    height: auto;
}

.contents-list-event-container{
    height: 100%;
    width: 100%;
    display: block;
}

.contents-area{
    flex-grow: 2;
    flex-basis: 0;
    height: 100%;
}

.area label{
    padding-left: 10px;
    flex-shrink: 0;
    height: 100%;
}

.list{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    overflow-x: visible;
    overflow-y: auto;
}

.content{
    width: 90%;
    margin: 10px;
    padding: 10px;
    min-height: 100px;

    box-sizing: border-box;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.1);
    color: #444444;

    display: flex;
    flex-direction: column;

    transition-property: height;
    transition-duration: 0.3s;
}

.content h3{
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #444444;
}

.time{
    font-size: 16px;
}

.content p{
    margin-top: 12px;
}
/* 
.contents-area:last-child .contents-list .content{
    height: 150px;
} */

#popup-event-container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#create-mode{
    display: none;
}

#edit-mode{
    display: none;
}

.popup-container{
    display: none;
    flex-direction: column;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-container .contents-container, .popup-container .edit-container{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    padding: 30px 60px;
    border-radius: 15px;
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    backdrop-filter: blur(15px);

    -webkit-box-shadow: 0px 39px 71px -19px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: 0px 39px 71px -19px rgba(0, 0, 0, 0.59);
        box-shadow: 0px 39px 71px -19px rgba(0, 0, 0, 0.59);
}

.popup-menu{
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}

.popup-button-area{
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

#popup-submit{
    width: 100px;
    font-size: 1em;

    box-shadow: inset 0px -3px 3px 4px rgba(0, 0, 0, 0.1), inset 0px 3px 3px 4px rgba(255, 255, 255, 0.4), 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s;
    /* transition: box-shadow 0.3s; */
}

#popup-submit:hover{
    background-color: #217ffa;
    color: #fff;
}

#popup-submit:active{
    background-color: #0350b6;
    color: #fff;
}

.create-form{
    width: 100%;
    flex-grow: 5;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    
}

.form-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    flex-basis: 0;
}

.create-form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-form-input label{
    min-width: 100px;
    flex-grow: 1;
    flex-basis: 0;

}

.create-form-input input{
    flex-grow: 6;
    flex-basis: 0;
    border-radius: 8px;
}

.create-form-textarea{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-grow: 1;
    flex-basis: 0;
}

.create-form-textarea textarea{
    width: 100%;
    height: 70%;
}

.input-inset-shadow{
    -webkit-box-shadow: inset 0px 7px 10px -2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 0px 7px 10px -2px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0px 7px 10px -2px rgba(0, 0, 0, 0.18);

    background-color: #eee;
}

input[type='datetime-local']{
    font-size: 12px;
}

#edit-menu-content{
    display: none;
    height: 40px;

    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.menu-icon-content{
    height: 32px;
    width: 32px;

}

.delete-content{
    background-image: url("../img/icon/delete.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.edit-content{
    background-image: url("../img/icon/edit.png");
    background-size: cover;
    background-repeat: no-repeat;
}